body{
    font-family: 'Open Sans', sans-serif;
    /*cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAP8AAAD/AAAA/wAAAP/AAAP/wAAD/8AAD//AAA//8AAP//AAD//wAD//8AA///AAP//wAD//8AA///AA///wAP//8APP/wADw/8AAAPwAAAD8AAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAAAAAAAAAA/8AD///AA///wAP//8AA//8AAP//AAD//AAA//wAAD/8AAA//AAAP/AAAD/wAAA/8AAAP/AAAD/wAAA/wAAAP8AAAD8AAAD/AAAA/wMAD/8DAA///wD///8A////A////wP///8D////A////wP///8D////A////8/////P//8='), auto;*/
    cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8AAAAPAAAADAAAAAwAAAA8AAAAPAAAADAAAAAwAAAM8AAADPAAAA/wAAAP8AAAD/wAAA/8AAAP8AAAD/AAAA/AAAAPwAAADwAAAA8AAAAMAAAADAAAAAAAAAAAAAAAAAAAAAAAAAA///////////////////////D////w////wD///8A////A////wP//zwD//88A///DA///wwP//8AD///AA///wAA//8AAP//AAP//wAD//8AD///AA///wA///8AP///AP///wD///8D////A////w////8P////P////z////8='), auto;
}

/*cabeçalho CSS*/
header{
    background: #008080;
}
.cabeca{
    text-align: center;
    padding: 60px;
    
}
header h1{ 
    font-size: 50px;
    display: inline-block;
}

header h1:hover:first-letter{
    text-decoration: underline;

}

header ul{
    display: inline-block;
    position: relative;
    margin-left: 300px;   
}
header li{
    font-size: 32px;
    display: inline;
    padding: 10px;
}

header a{
    text-decoration: none;
    color: black;
}

header a:hover{
    font-weight: bold;
    color: white;
    cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAP8AAAD/AAAA/wAAAP/AAAP/wAAD/8AAD//AAA//8AAP//AAD//wAD//8AA///AAP//wAD//8AA///AA///wAP//8APP/wADw/8AAAPwAAAD8AAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAAAAAAAAAA/8AD///AA///wAP//8AA//8AAP//AAD//AAA//wAAD/8AAA//AAAP/AAAD/wAAA/8AAAP/AAAD/wAAA/wAAAP8AAAD8AAAD/AAAA/wMAD/8DAA///wD///8A////A////wP///8D////A////wP///8D////A////8/////P//8='), auto;
}

header a:hover::first-letter{
    text-decoration: underline;
    cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAP8AAAD/AAAA/wAAAP/AAAP/wAAD/8AAD//AAA//8AAP//AAD//wAD//8AA///AAP//wAD//8AA///AA///wAP//8APP/wADw/8AAAPwAAAD8AAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAwAAAAMAAAADAAAAAAAAAAAAAA/8AD///AA///wAP//8AA//8AAP//AAD//AAA//wAAD/8AAA//AAAP/AAAD/wAAA/8AAAP/AAAD/wAAA/wAAAP8AAAD8AAAD/AAAA/wMAD/8DAA///wD///8A////A////wP///8D////A////wP///8D////A////8/////P//8='), auto;
}



/* Corpo da index */

main {
    background: #008080;
}
.imagem-principal{
    margin-left: 470px;
    width: 50%;
    height: 30%;   
    border: solid 4px #030353;
    box-shadow: 2px 2px 2px black;
    display: block;
}
.imagem-principal:hover{
    border: solid 4px #0606ad;
    box-shadow: 2px 2px 4px black;
}
.windows-caixa{
    margin: 20px 0 20px 470px;
    border-top: solid 20px blue;
    background: #acacac;
    display: inline-block;   
}
.windows-caixa:hover{
    border-color:  #070772;
    background: #c2c2c2;
}
.lista-index{
    font-size: 24px;
    border: 1px black;
    padding: 20px;
    text-align: left;
    text-shadow: 2px black;
}

.lista-index a {
    text-decoration: none;
}

.lista-index a:hover{
    color: white;
}
/* CSS rodapé */
footer section {
    background: #008080;
    font-size: 20px;
    text-align: center;
}
footer section h3{
    opacity: 0.6;
}

/*Página do Sobre*/

h2 {
    font-size: 50px;
    margin-left: 100px;
    padding: 50px 0 40px 0;
}

.foto{
    width: 10%;
    height: 10%;
    float: left;
    margin-left: 200px;
}
.sobre{
    padding: 20px 50px 50px 20px;
    border: 20px black;
}
.sobre p{
    font-size: 34px;
    font-style: normal;
    padding: 20px 0 0 50px;
}

.qualidades{
    font-size: 40px;
    padding: 10px 0 0 10px;
    margin-left: 100px;
    display: inline-block;
}

.qualidades li:hover{
    font-weight: bold;
}

.links-uteis {
    display: inline;
    vertical-align: top;
    margin-left: 400px;
}

.links-uteis a{
    text-decoration: none;
}

.links-uteis a:hover{
    color: white;
    font-weight: bold;
}

main div {
    text-align: center;
}
